:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--main-font);
}

/* ========== COMPONENTS =========== */
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: transparent;
  cursor: pointer;
}
.logo-spn {
  color: #2196f3;
}
/* ЛОГОТИП СНИЗУ 
.logo-spn-one {
  color: #ffffff;
}
*/
.modal-btn:hover,
.modal-btn:focus {
  color: #2196f3;
}
.modal-btn-filters:hover,
.modal-btn-filters:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.modal-btn-filters {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  border-radius: 4px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.about-hero-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.description-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
.menu-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.menu-address-link:hover,
.menu-address-link:focus {
  color: #2196f3;
}
/* ============= END COMPONENTS ============ */

/* ================ HEADER ============== */

.logo-link:hover,
.logo-link:focus {
  color: #2196f3;
}
.logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #212121;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
}
.mail-link:hover,
.mail-link:focus {
  color: #2196f3;
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;

  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: #2196f3;
}
/* =========== END HEADER ============ */

/* =========== HERO ================= */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

/* =========== END HERO =========== */

/* =========== ABOUT =========== */

.description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  height: 75px;
  width: 270px;
}
/* =========== END ABOUT ============ */

/* =========== PORTFOLIO =========== */
.filters-item-link:hover,
.menu-address-link:focus {
  color: #2196f3;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ============= END PORTFOLIO ============== */
